::selection {background: $color; color: #fff;}
::-moz-selection {background: $color; color: #fff;}

html, body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: $color;
}

a{
    @include transition(color 0.1s ease);
    text-decoration: none;
    cursor: pointer;
    color: $link;

    &:hover{
        color: shade($link-hover, 30%);
    }
}
b{font-weight: 700}
p{
    font-size: 18px;
    line-height: 26px;
}