h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

h1{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 100;

    b{font-weight: 300;}
    sub{
        margin-top: 24px;
        letter-spacing: normal;
        font-size: 24px;
        text-transform: none;
        font-weight: 300;
    }
}

h2, h3{
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    color: $color;
    sub{font-size: 20px;}
}
h3{
    font-size: 24px; 
    line-height: 32px;
    margin: 32px 0;
    sub{font-size: 14px;}
}